*,
html {
    margin: 0;
    padding: 0;
}

.navbar-container {
    background-color: gray;
    width: 100%;
    height: 15vh;

}

.ulnavbar { 
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.linavbar{
    list-style-type:none;
    padding: 20px;
    color:black;
    margin: 5px;
    font-size:20 px;
}

.li-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    border-radius: 5px;
}
.a-navbar{
    color:white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;

}

.container-content{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-content{
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 600px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 90px;  */

}

.img-content{
    width: 50%;
    height: 50%;

}
.container-footer{
    font-size: 15px;
    height: 15vh;
    background-color: gray;
    display:flex;
    justify-content:center;
    align-items: center;
}

.h1-footer{
    font-size: 30px;
    color: white;
}

.hamburger{
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 600px)  {
    .hamburger {
        display: flex;
    }

    .ulnavbar{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: rgb(57, 54, 54);
        width: 30%;
        height: 25%;
    }
    .ulnavbar.active{
        display: flex;
    }

    .container-footer{
        flex-direction: column;
        position: relative;

    }
    

}


